<!DOCTYPE html>
<html>
	<head>
			<style>
				body {
					background-color: green;
				}
				p {
					color:yellow;
					text-align: center;
				}
			</style>
	<head>
	<body>
	
			<p>
				This is a paragraph.
			</p>
			<p> 
				This is another paragraph.
			</p>
				
			<span>This is a span.</span>
	</body>
	</head>
