<!DOCTYPE html>
<html>
	<head>
			<style>
				body {
					background-color: green;
				}
				p {
					color:yellow;
					text-align: center;
				}
			</style>
	<head>
	<body>
	
			<p style="color:blue; text-align: center;">
				This is a paragraph.</p>
			<p style="color: red;> 
				This is another paragraph.</p>
				
			<span>This is a span.</span>
	</body>
	</head>
